* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left-section {
    z-index: 3;
}

.hov:hover {
    border-radius: 30px;
    background: rgb(245, 245, 245);
    border: none;
    cursor: pointer;
}

.twit {
    color: rgba(29, 155, 240, 1);

}

.twit:hover {
    background: #d3eaf8;
    border: none;
    border-radius: 30px;

}

.checkr {
    background-color: rgba(142, 205, 248, 1);
    color: white;
    border: none;
    border-radius: 30px;
}

.checkr:hover {
    background: rgba(29, 155, 240, 1);
    color: white;
    border: none;
    border-radius: 30px;

}

#tweet-button {
    border: none;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background-color: rgba(142, 205, 248, 1);
}

#tweet-button:hover {
    color: white;
    background-color: rgba(29, 155, 240, 1);
}

.home:hover {
    cursor: pointer;
}

.middle-bar {
    background: white;
    opacity: 99.9%;
}

.area {
    outline: none;
    border: none;
}

.profimg {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 30px;
}

.profimgwho {
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 30px;
}

.anchor-user {
    text-decoration: none;
    color: black;
}

.home-anchor {
    color: rgba(45, 162, 241, 1);
}

.gps-anchor {
    color: rgba(45, 162, 241, 0.5);
}

.home-anchor:hover {
    border-radius: 20px;
    color: #1d9bf0;
    background: #d3eaf8;
    border: none;
}

.anchor-user:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.check-user {
    color: rgb(74, 174, 241);
}

.tweet-top {
    margin-bottom: 0px;
}

.tweet:hover {
    background: rgb(245, 245, 245);
    border: none;
    border-radius: none;
    cursor: pointer;
}

.tweet-pic {
    border: none;
    border-radius: 15px;
}

.timeframe:hover {
    text-decoration: underline;
}

.gear-icon:hover {
    background: rgb(235, 235, 235);
    border: none;
    border-radius: 15px;
}

.threedots:hover {
    color: #1d9bf0;
    border: none;
    background: #d3eaf8;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.comment-btn:hover {
    color: #1d9bf0;
}

.comment-btn:hover>i {
    border-radius: 20px;
    color: #1d9bf0;
    background: #d3eaf8;
    border: none;
}

.retweet-btn:hover {
    color: rgb(0, 186, 124);
}

.retweet-btn:hover>i {
    color: rgb(0, 186, 124);
    background: rgb(183, 235, 217);
    border: none;
    border-radius: 50px;
}

.like-btn:hover {
    color: rgb(249, 24, 128);
}

.like-btn:hover>i {
    color: rgb(249, 24, 128);
    background: rgb(241, 195, 216);
    border: none;
    border-radius: 50px;
}

.comment-icon {
    background-color: rgba(211, 234, 248, 0);
    border: none;
    border-radius: 50px;
}

.comment-icon:hover {
    background-color: rgba(211, 234, 248, 1);
}

.search-nav {
    left: 67.5%;
    margin-right: 6.3%;
    width: 26.2%;
}

.search-bar {
    background-color: white;
}

.search-b {
    border: none;
    border-radius: 30px;
    background: rgba(247, 249, 249, 1);
}

.trend-item {
    height: 0px;
}

.trend-more {
    color: #46adf2;
}

.trending {
    font-size: 14px;
}

.trend-body {
    height: 30%;
    border: none;
    border-radius: 15px;
    background: rgba(247, 249, 249, 1);
}

.trend-body p:hover {
    cursor: pointer;
    background: rgb(235, 235, 235);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.trend-block:hover {
    background: rgb(235, 235, 235);
    cursor: pointer;
}

.show-more-block:hover {
    background: rgb(235, 235, 235);
    border-bottom: none;
    border-radius: 15px;
}

.trend-body-follow {
    height: 21%;
    border: none;
    border-radius: 15px;
    background: rgba(247, 249, 249, 1);
}

.follow-recommend:hover {
    background: rgb(235, 235, 235);
    cursor: pointer;
}

.follow-more:hover {
    background: rgb(235, 235, 235);
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.footer-items {
    font-size: 13px;
    color: rgba(104, 119, 130, 1);
}

.footer-items:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-cont:hover {
    cursor: pointer;
}

.bottom-item {
    font-size: 13px;
    color: rgba(104, 119, 130, 1);
}

.right-col {
    height: 2000px;
}


.par {
    position: relative;
}